/* reset
-------------------------- */
html, body, div, p, header, nav, section, aside, main, h1, h2, h3, h4, h5, h6, ul, li, form, input {
  margin 0
  padding 0
  box-sizing border-box
}

html, body {
  width 100%
  height 100%
  font-size 14px
  color #313131
}

ol, ul, li {
  list-style none
  text-decoration none
}

a {
  color inherit
  text-decoration none
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(0, 0, 0) !important
}

/* svg
-------------------------- */
.icon {
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
}

/* transitions and animations
-------------------------- */
.slide-fade-enter-active
  transition: all .3s ease
.slide-fade-enter, .slide-fade-leave-to ,.slide-fade-leave-active
  transform translateX(10px)
  opacity 0

.table-footer {
  margin-top 20px
  display flex
  justify-content space-between
  align-items center
}

.operate-page-main {
  background-color #fff
  padding 10px 20px 20px 20px
}

/* gradual-btn
-------------------------- */
.gradual-btn {
  width 90px
  height 26px
  line-height 26px
  text-align center
  background-size cover
  color #fff
  font-size 14px
  cursor pointer
  background-color color-main
}

/* breadcrumb
-------------------------- */
.breadcrumb {
  color color-main
  padding 0 0 10px 15px
  cursor pointer
}

/* upload
-------------------------- */
.avatar-uploader .el-upload {
  border 1px dashed #d9d9d9
  border-radius 6px
  cursor pointer
  position relative
  overflow hidden
}
.avatar-uploader .el-upload:hover {
  border-color #409EFF
}
.avatar-uploader-icon {
  font-size 28px
  color #8c939d
  width 178px
  height 178px
  line-height 178px
  text-align center
}
.avatar {
  width 178px
  height 178px
  display block
}
.search-info {
  color color-main
}
.el-dropdown-menu {
  padding 6px 0 !important
}

/* topbar
-------------------------- */
.topbar {
  display flex
  justify-content space-between
  height 40px
  align-items center
  border-bottom border-styl
  margin-bottom 20px
  .title {
    font-size 16px
    height 20px
    line-height 20px
    padding-left 8px
    border-left 4px solid color-main
  }
  .gradual-btn {
    background-color color-main
    span {
      display inline-block
      width 100%
      height 100%
    }
  }
}
