/* colors
-------------------------- */
color-main = #4aa3fd
color-red = #fd5555
color-light-blue = #f5f8ff
color-bg = #F2F6F9

color-black = #21252A
color-gray = #E7EAEF

// bor
border-styl = 1px solid color-gray
